.DS_Store
DESPOT.xcodeproj/project.xcworkspace/
DESPOT.xcodeproj/xcuserdata/
DESPOT.xcodeproj/xcshareddata/
DESPOT.*
manual/DESPOT_manual*
build/
despot1
despot1hifi
despot2
despot2fm
mcdespot
afi
mcsignal
phasemap
