.DS_Store
eigen/
build/
bin/
src/version
QUIT.xcworkspace/xcuserdata/
src/Nifti.xcodeproj/xcuserdata/
src/Agilent.xcodeproj/xcuserdata/
src/DESPOT.xcodeproj/xcuserdata/
src/Tools.xcodeproj/xcuserdata/
doc/html/
*.bib
*.bbl
*.aux
*.toc
*.blg
*.log
*.synctex.gz
*.pdf
*.xml
